#app {
  /* height: 200px; */
  width: 100%;
  overflow: hidden;
  /* overflow-y: scroll; */
  border: transparent;
  /*font-family: "Franklin Gothic Medium";*/
  color:#414D68;
}
::selection{
  background: #d2f0ff;
}
.app {
  /* height: 200px; */
  width: 100%;
  overflow: hidden;
  /* border: transparent; */
  padding-bottom: 50px;
  padding-left: 10px;
  /*padding: 90%;*/
  margin: 0 auto;
  background: transparent;
}
.none-more{
  color:#808080;
}

/*单个应用模块*/
.item {
  width: 300px;
  height: 100px;
  float: left;
  transition: all 0.25s;
  margin: 15px;
  color: #6d6d6d;
  border-radius: 18px;
  background-color: #F4F4F6;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  box-shadow:  5px 5px 10px #e0e0e0,
  -5px -5px 10px #ffffff;

  overflow: hidden;
}
.item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);

}
.item:active{
  border-radius: 32px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  5px 5px 10px #e0e0e0,
  -5px -5px 10px #ffffff;
}
.show{
  overflow: hidden;
}

.icon-bg {
  width: 300px;
  height: 100px;
  float: left;
  filter: blur(50px) opacity(0%);
  position: relative;
  top: -100px;
  transition: all 0.3s;
  z-index: -1;
  pointer-events: none;
}
.item:hover .icon-bg{
  filter: blur(50px) opacity(40%);
}

.icon-m:hover {
  transform: rotate(666turn);
  transition-delay: 3s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(.34,0,.84,1);
}

/*应用图标*/
.icon-m {
  float: left;
  width: 26%;
  height: 77%;
  background: transparent;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s;
}
.list {
  max-width: 1500px;
  text-align: center;
}
.app-name{
  text-align: left;
  margin: 20px;
  font-weight: lighter;
  display:block;
  overflow:hidden;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color: #494949;
  padding-right: 10px;
}
.app-more{
  text-align: left;
  font-size:10px;
  font-weight: lighter;
  display:block;
  overflow:hidden;
  word-break:keep-all;
  white-space:nowrap;
  text-overflow:ellipsis;
  color: #808080;
  padding-right: 10px;
}

